<h2>Course List</h2>
<p>Here is the list of courses</p>

<table class="table table-striped">
  <thead>
    <th>Image</th>
    <th>Title</th>
    <th>Price</th>
    <th>Code</th>
    <th>Rating</th>
    <th>Release Date</th>

  </thead>
  <tbody>
    <tr *ngFor="let course of course">
      <td><img
        [src]="course.imageUrl"
        alt="{{ course.name }}"
        width="100" height="100"></td>
      <td>{{ course.name }}</td>
      <td>{{ course.price }}</td>
      <td>{{ course.code }}</td>
      <td>{{ course.releaseDate }}</td>
      <td>
        <app-star [rating]="course.rating"></app-star>
      </td>
    </tr>
</table>
